/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #433B3E;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #433B3E;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mobile {
	display:none;
}

a, input[type="submit"],
input[type="button"],
button,
.panel,
.list {
	transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 1.625em;
	color: #433B3E;
	overflow-x: hidden;
	background-color: #e8e8e8;
	text-align:center;
	cursor: default;
}

/*Removed for IE11
/*main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;*/
  /*display: -ms-flexbox;
  display: box;*/
  /*display: flex; 
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  position:relative;
}*/

#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul, li {
	list-style:none;
	margin:0;
	padding:0;
}

/* text */

h1, h2, h3, h4 {
	font-family:'Fjalla One', sans-serif;
	font-weight:normal;
	padding:0;
	margin:0;
	line-height:0.8em;
	text-transform:uppercase;
	letter-spacing: -1px;
}

h2 {
	font-size: 4em;
	line-height:0.65em;
	letter-spacing: -4px;
}

h3 {
	margin-top:50px;
	font-size: 2em;
}

a {
	text-decoration: none;
	font-weight: 600;
	color:#D06453;
	cursor: pointer;
}

a:hover {
	color:#433B3E;
}

.panel-red a {
	color:#433B3E;
}

.panel-red a:hover {
	color:#fff;
}

p {
	margin:20px 0 20px;
}

strong {
	font-weight: 600;
}

.teaser {
	overflow:hidden;
}

.textright {
	text-align:right;
}

.textcenter {
	text-align:center;
}

/* forms */

div.field {
	margin-bottom: 10px;
	position:relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"], textarea,
select {
	padding:10px 20px;
	border: none;
	background:#fff;
	font-family: 'Work Sans';
	color:#433B3E;
	font-size:1em !important;
	font-weight:400 !important;
	display:inline-block;
	-webkit-appearance: none;
	text-transform:uppercase;
	height: 48px;
	border-radius:24px;
	line-height:1.85em;
}

textarea {
	text-transform: none;
}

.field-correct {
	position: absolute;
	top:16px;
	right:25%;
	margin-right: 20px;
	color:#433B3E;
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #d8dbe2, #d8dbe2);
  background-position:
    calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 5px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.8em;
  background-repeat: no-repeat;
  padding-right:50px;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
textarea:disabled,
select:disabled {
	background-color:#d8dbe2;
}

input[type="text"],
input[type="text"]+label,
input[type="email"],
input[type="email"]+label,
input[type="password"],
input[type="password"]+label,
select,
select+label {
	width:50%;
	display:block;
	margin:0 auto;
}

textarea {
	width:50%;
	height: 15em;
	margin-bottom:-7px;
}

input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
input[type="number"].error,
select.error,
textarea.error {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

label {
	font-size:1em !important;
	font-weight:400 !important;
	text-transform:uppercase;
	color:#433B3E;
	display:block;
	font-weight:normal;
	margin-bottom:5px;
}

label.error {
	background:#433B3E;
	color:#fff;
	display:block;
	padding:10px;
	height:3em;
	line-height:1.85em;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	width:50%;
	margin:0 auto;
}

div.error {
	background:#433B3E;
	color:#fff;
	display:block;
	padding:10px;
	height:3em;
	border-radius:24px;
	text-transform:uppercase;
	width:50%;
	line-height:1.85em;
	margin: 10px auto 0;
}

label.error-single {
	border-radius:5px;
}

.btn {
	background-color: #D06453;
	color:#fff !important;
	padding:15px 20px;
	border:0;
	display:inline-block;
	margin: 0 2px 4px;
	font-weight:600;
	line-height:1.125em;
	cursor: pointer;
	text-transform:uppercase;
	border-radius: 5px;
}

.panel-red .btn {
	background-color: #433B3E;
}

button: {
	padding:0;
	border:0;
	background:none;
	-webkit-appearance: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
	margin-left:5px;
	margin-right:10px;
	display:inline;
}

.btn:hover {
	background-color: #433B3E;
	color:#fff !important;
}

.panel-red .btn:hover {
	background-color: #fff;
	color:#433B3E !important;
}

a.disabled, a.disabled:hover {
	background-color: #d8dbe2;
	color: #fff;
	cursor: pointer;
}

form.center-form {
	text-align:center;
}

form.center-form fieldset div.field {
	margin-bottom: 0;
}

form.center-form fieldset div.field:last-of-type {
	margin-bottom: 10px;
}

form.center-form fieldset div.field label.error {
	margin:0 auto;
}

form.center-form fieldset div.field input[type="text"],
form.center-form fieldset div.field input[type="email"],
form.center-form fieldset div.field input[type="password"],
form.center-form fieldset div.field input[type="number"],
form.center-form fieldset div.field select {
	border-radius:0;
	border-bottom:none;
	margin:0 auto;
}

form.center-form fieldset div.field:first-of-type input[type="text"],
form.center-form fieldset div.field:first-of-type input[type="email"],
form.center-form fieldset div.field:first-of-type input[type="password"],
form.center-form fieldset div.field:first-of-type input[type="number"],
form.center-form fieldset div.field:first-of-type select {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

form.center-form fieldset div.field:last-of-type input[type="text"],
form.center-form fieldset div.field:last-of-type input[type="email"],
form.center-form fieldset div.field:last-of-type input[type="password"],
form.center-form fieldset div.field:last-of-type input[type="number"],
form.center-form fieldset div.field:last-of-type select {
	border-bottom:1px solid #d8dbe2;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

form.center-form  > fieldset div.field label.error {
	border-radius:0;
}

form.center-form  > fieldset div.field:last-of-type label.error {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#submit-selection {
	margin-top:10px;
}

#form-contact {
	margin-top: 50px;
}

.g-recaptcha {
	width:304px;
	margin: 0 auto;
}

.success {
	padding:10px 20px;
	border: none;
	background:#433B3E;
	font-family: 'Work Sans';
	color:#fff;
	font-size:1em !important;
	font-weight:400 !important;
	display:inline-block;
	min-height: 48px;
	border-radius:24px;
	line-height:1.85em;
}

/* global */

.basket {
	position:fixed;
	bottom:10px;
	left:10px;
	display:none;
	background-color: #433B3E;
	color:#fff;
	padding:15px;
	line-height:1em;
	border-radius: 5px;
}

.preview-basket {
	display:inline-block;
	background-color: #433B3E;
	color:#fff;
	padding:15px;
	line-height:1em;
	margin: 30px auto;
	border-radius: 5px;
}

.amount-text {
	font-family:'Fjalla One', sans-serif;
	font-weight:normal;
	padding:0;
	margin:0;
	line-height:1em;
	text-transform:uppercase;
	color:#fff;
	font-size: 2em;
	margin:10px 0;
	display:block;
	letter-spacing: -1px;
}

.clearfix {
	clear: both;
}

#o-wrapper {
	min-height:100%;
	position:relative;
}

.v-container {
	position:relative;
}

.v-centre {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

header {
	position: fixed;
	width: 100%;
	display:block;
	top:0;
	z-index:2;
	height:50px;
	background: rgba(66,59,62,.95);
	color: #fff;
}

#logo {
	float:left;
	height: 50px;
	margin-left:10px;
}

#logo img {
	height:100%;
}

#menu-btn {
	color:#fff;
	font-size:2em;
	float:right;
	margin: 10px;
}

#menu ul li a {
	font-family:'Fjalla One', sans-serif;
	font-weight:normal;
	padding:0;
	margin:0;
	line-height:0.8em;
	text-transform:uppercase;
	color:#fff;
	font-size: 2em;
	margin-bottom:30px;
	display:inline-block;
	letter-spacing: -1px;
}

#menu ul li a:hover {
	color: #D06453;
}

footer {
	width: 100%;
	display:block;
	background-color: #433B3E;
	color: #fff;
	padding: 50px 0;
}

.social-icons {
	font-size: 2em;
	margin-bottom: 20px;
}

.social-icons a {
	color: #fff;
}

.social-icons a:hover {
	color:#D06453;
}

footer .fragile-x-logo {
	width: 150px;
	display:inline-block;
	margin:0 auto 10px;
	background-color: none;
}

footer .fragile-x-logo img {
	width:100%;
}

#container {
	height: 100%;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
}

main {
	margin:0 auto;
	position: relative;
}

.panel {
	min-height: 100%;
	height: 100%;
	width: 1200px;
	margin:0 auto;
	padding: 160px 10px;
	box-sizing: border-box;
	display: table;
}

.panel-inner {
	display: table-cell;
	vertical-align: middle;
}

.panel-red {
	background-image: url('../img/bg.png');
	background-color: #D06453;
	background-repeat: repeat-x;
	color:#fff;
	border-top: 50px solid #fff;
	border-bottom: 50px solid #fff;
}

.panel-grey {
	border-bottom: 50px solid #433B3E;
	border-top: 50px solid #433B3E;
	background-image: url('../img/bg.png');
	background-color: #e8e8e8;
	background-repeat: repeat-x;
}

.panel-grey-last {
	border-bottom: none;
}

.general-text {
	margin-top:50px;
	text-align:left;
}

.general-text ul li {
	list-style:disc;
	margin-left: 30px;
	margin-top:10px;
}

.panel-home p {
	width:50%;
	margin: 20px auto;
}

.list {
	position:fixed;
	left:-100%;
	width:100%;
	z-index:3;
	background: rgba(66,59,62,.95);
	min-height: 100%;
	height:100%;
	padding:60px 0 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	color: #fff;
}

.list-return {
	padding:10px;
	text-align:right;
	font-size: 2em;
	color: #fff;
	position:absolute;
	top:0;
	right:0;
}

.list-return i:hover {
	cursor:pointer;
}

.list-inner {
	width: 100%;
	margin:0 auto;
	padding: 0px 5px;
	vertical-align: middle;
	box-sizing: border-box;
}

/* player */

#formation {
	margin-top:20px;
}

.player {
	margin-left:5px;
	margin-right:5px;
	display:block;
	position: relative;
	text-align:center;
	cursor: pointer;
}

.player span {
	position:absolute;
	text-indent: -9999px;
}

.player .remove-player,
.player .remove-manager {
	position:absolute;
	right:10px;
	top: 10px;
	font-size: 2em;
	color:#fff;
}

/*.img-border {
	border: 5px solid #fff;
}*/

.panel-home .card {
	margin-top:30px;
}

.card img {
	width:100%;
	height:100%;
}

.panel-home .card,
.list .card {
	width:250px;
}

.card img.card-person,
.card img.card-formation,
.card img.kit-img,
.card img.kit-select {
	z-index:1;
	position:absolute;
	top:0;
	left:0;
}

.card {
	text-align:center;
	box-sizing:border-box;
	overflow:hidden;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    position: relative;
    display: inline-block;
    margin-bottom:10px;
}

.list .card {
	max-width: 32%;
	cursor: pointer;
}

#formation-list .card,
#manager-list .card {
	max-width: 49%;
	cursor: pointer;
}

.card-resize {
	float:left;
	width: 20%;
	height:267px;
}

#selected-card .card {
	cursor: default;
}

.formation_442 .card-blank-4,
.formation_442 .card-blank-5,
.formation_442 .card-blank-8,
.formation_442 .card-blank-9,
.formation_442 .card-blank-10,
.formation_433 .card-blank-4,
.formation_433 .card-blank-5,
.formation_433 .card-blank-9,
.formation_433 .card-blank-11,
.formation_433 .card-blank-12,
.formation_352 .card-blank-5,
.formation_352 .card-blank-6,
.formation_352 .card-blank-7,
.formation_352 .card-blank-8,
.formation_352 .card-blank-9,
.formation_352 .card-blank-10,
.formation_352 .card-blank-11,
.formation_343 .card-blank-6,
.formation_343 .card-blank-7,
.formation_343 .card-blank-9,
.formation_343 .card-blank-11,
.formation_343 .card-blank-12 {
	width:0;
}

.formation_442 .card-blank-3,
.formation_442 .card-blank-6,
.formation_442 .card-blank-7,
.formation_442 .card-blank-11,
.formation_433 .card-blank-3,
.formation_433 .card-blank-6,
.formation_343 .card-blank-5,
.formation_343 .card-blank-8 {
	width: 10%;
}

.formation_442 .card-blank-12,
.formation_442 .card-blank-13,
.formation_352 .card-blank-12,
.formation_352 .card-blank-13 {
	width: 30%;
}

.card-blank-1,
.card-blank-2 {
	width: 40%;
}

/* preview */

.preview {
	width: 60%;
	margin:50px auto 50px;;
	background-color: #e8e8e8;
	background-image: url('../img/preview-bg.png');
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	padding:20px;
	color: #433B3E;
	border: 20px solid #fff;
}

.preview .preview-title {
	padding:0;
	position:relative;
	height: 12px;
}

.preview .preview-title {
	margin-top: 10px;
}

.preview .preview-title span.title {
	font-family:'Fjalla One', sans-serif;
	font-weight:normal;
	line-height:0.8em;
	text-transform:uppercase;
	letter-spacing: -1px;
	font-size: 1em;
	padding-left: 15px;
	position: absolute;
	bottom:0;
	right:0;
}

.preview .preview-title span.web {
	line-height: 0.8em;
	font-size: 0.5em;
	padding-right: 15px;
	position: absolute;
	bottom:0;
	left:0;
}

.preview-subs {
	margin-top:20px;
}

#preview-no-subs {
	height:40px;
}

.preview .card {
	margin-bottom: 5px;
}

.preview .player {
	margin-left:2px;
	margin-right:2px;
}

.paypal-img {
	background-color:#fff;
	display: inline-block;
	padding:0 10px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.red-slash {
	color: #D06453;
}

.white-slash {
	color: #fff;
}

.black-slash {
	color: #433B3E;
}

#promo-code-form {
	margin-bottom: 30px;
}

.stats-table {
	width: 100%;
	margin:20px auto 0;
}

.stats-table th,
.stats-table td {
	border: 1px solid #ccc;
}

@media (max-width: 1200px) {

.panel,
.list-inner {
	width:100%;
}

}

@media (max-width: 767px) {
	
.panel {
	padding: 80px 10px;
}
	
.panel-home p {
	width:100%;
}

.list-inner {
	padding:0 8px;
}

.player {
	margin-left:2px;
	margin-right:2px;
}

#line-up .card {
	margin-bottom:4px;
}

.list .card {
	margin-bottom:10px;
}

input[type="text"],
input[type="text"]+label,
input[type="email"],
input[type="email"]+label,
input[type="password"],
input[type="password"]+label,
select,
select+label,
.preview,
textarea,
div.error {
	width:100%;
}

.preview {
	padding:10px;
	border: 10px solid #fff;
}

.preview .preview-title {
	height: 8px;
}

.preview .preview-title {
	margin-bottom: 5px;
}

.preview .preview-title span.title {
	font-size: 0.8em;
	padding-left: 10px;
}

.preview .preview-title span.web {
	font-size: 0.3em;
	padding-right: 10px;
}

.field-correct {
	right:0%;
	margin-right: 20px;
}

.stats-table {
	width: 100%;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #433B3E !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}